#guestbookBoard h2 {
    padding-top: 20px;
    padding-left: 30px;
}

#guestbookWriteDiv {
    width: 438px;
    height: 130px;
    margin: 20px 30px;

    border: 1px solid lightgray;
    padding: 10px;
}
#guestbookWriteProfileImg {
    width: 140px;
    height: 108px;

    background-color: lightgray;
    float: left;

}
#guestbookWriteProfileImg img {
     width: 100%;
     height: 100%;
 }
#guestbookWriteInput textarea {
    width: 276.7px;
    height: 80px;
}


#guestbookWritten {
    width: 438px;
    margin: 20px 30px;
}
#eachWritten {

}
